@font-face {
  font-family: GraphikBold;
  src: url(../fonts/Graphik-Bold.otf);
}

@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik.otf);
}

@media all and (max-width: 800px) {
  .mobile-hp-container {
    display: flex;
    flex-direction: row;
  }
}

html {}

body {
  padding: 0;
  margin: 0;
}

::selection {
  background: lightgray;
  color: black;
}

/* Class to apply rainbow background */
.rainbow-highlight {
  background: linear-gradient(90deg, red, green, blue, indigo, violet);
  background-size: 500%;
  color: white;
  display: inline-block; /* Necessary to animate background-position */
}

.wrapper {
  width: 20vw;
  height: 100vh;
}


.container {
  position: absolute;
  left: 13px;
  top: 65px;
  width: 200px;
  height: 150px;
  perspective: none;
  margin: 0px;

}

.container-2 {
  position: absolute;
  left: 191px;
  top: 46px;
  width: 200px;
  height: 150px;
  perspective: none;
  margin: 0px;

}

.cube {
  position: relative;
  width: 200px;
  height: 50px;
  transform-style: preserve-3d;
  transform: perspective(none);
  transition: .2s;
  animation: cubeload .6s;
}

@keyframes cubeload {

  0% {
    transform: rotate3d(0, 0, 1, 25deg) perspective(none);
    margin-left: 10px;
  }


  100% {
    margin-left: 0px;
  }

}

.cube:hover {
  background-color: orangered;
}

.facestart {
  width: 50px;
  height: 150px;
  background: black;
  border: .1px solid rgba(0, 0, 0, .9);
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: white;

  transition: .25s;
}

.facetopstart {
  width: 200px;
  height: 50px;
  background: black;
  border: .1px solid rgba(0, 0, 0, .9);
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: white;

  transition: .25s;
}

.facelongstart {
  width: 200px;
  height: 150px;
  background: black;
  border: .1px solid rgba(0, 0, 0, .9);
  position: absolute;
  opacity: 1;
  transition: .25s;

}

.facelongstart h1 {
  font-family: GraphikBold;
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0px;
  margin: 0px;
  animation: textwiden .6s ease-in-out;
  transform: scale(1.2);
}

@keyframes textwiden {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(10);
  }


  100% {
    transform: scale(1.2);
  }

}

.facelongstart h2 {
  font-family: Graphik;
  font-size: 10px;
  letter-spacing: -1px;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

.facelongstart img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

.cube:hover .facelongstart {
  background-color: red;
}

.cube:hover .facetopstart {
  background-color: red;
}

.cube:hover .facestart {
  background-color: red;
}

.cube:hover .face {
  background-color: red;
}

.magenta {
  transition: .2s;
}

.cyan {
  transition: .2s;
}

.sap {
  transition: .2s;
}

.cube:hover .cyan {
  background-color: dodgerblue;
}

.cube:hover .magenta {
  background-color: magenta;
}

.cube:hover .sap {
  background-color: green;
}

.cube h5 {
  display: none;
  position: absolute;
  right: 0px;
  top: -93px;
  font-family: Graphik;
  font-size: 20px;
  color: black;
  line-height: 14px;
  text-align: right;
  transform: scaleX(1.2);
  transform-origin: right;
  background-color: orangered;
  padding: 8px;
  padding-left: 50px;
  border-radius: 3px;
  box-sizing: border-box;
}

.cube h6 {
  display: none;
  position: absolute;
  right: 0px;
  top: -46px;
  width: 500px;
  font-family: Graphik;
  font-size: 10px;
  color: black;
  line-height: 14px;
  text-align: right;
  transform: scaleX(1.2);
  transform-origin: right;
}



.cube h4 {
  display: none;
  position: absolute;
  left: 110px;
  top: -8px;
  font-family: GraphikBold;
  font-size: 12px;
  color: black;
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, 0, -45deg) translateZ(50px);
  line-height: 14px;
}


.cube:hover h5 {
  display: block;
}

.cube:hover h6 {
  display: block;
}

.cube:hover h4 {
  display: block;
}


.face {
  width: 50px;
  height: 50px;
  background: skyblue;
  border: .1px solid black;
  position: absolute;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

.facelong {
  width: 200px;
  height: 50px;
  background: skyblue;
  border: .1px solid black;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}


.cube {
  position: relative;
  width: 200px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotate3d(-.2, 1, -.095, 45deg) perspective(none);
}

.front {
  transform: translateZ(25px);
}

.left {
  transform: translateX(-25px) rotateY(-90deg);
}

.right {
  transform: translateX(25px) rotateY(90deg);
}

.bottom {
  transform: translateY(25px) rotateX(-90deg);
}

.top {
  transform: translateY(-25.5px) rotateX(90deg);
}

.marqueewrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.clockfont {
  position: absolute;
  top: 16px;
  left: 22px;
}

.clockfont h1 {
  font-family: Graphik;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

#clock {
  animation: opacity 8s linear;
  opacity: .4;
}


@keyframes opacity {

  0% {
    opacity: 0;
  }

  100% {
    opacity: .4;
  }

}

.navicon {
  position: absolute;
  top: 39px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  animation: loadicon .5s ease-out;
}

@keyframes loadicon {

  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }

}

.navicon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  animation: rotateicon 5s linear infinite;
}

@keyframes rotateicon {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.bg-graphic {
  position: fixed;
  top: 5px;
  left: 221px;
  width: 720px;
  height: 357px;
  margin: 0;
  padding: 0;
  z-index: -2;
  display: none;
  transition: .5s;
  mix-blend-mode: normal;
  transform-style: unset;
  transform: rotate3d(-0.002, 0, 0, 1deg);
  border-radius: 30px 30px 0px 0px;
}

@keyframes bganimation {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.cubehover:hover .bg-graphic {
  display: block;
}


.bg-graphic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}